/* ---------- Design Base ---------- */

body {
	font-size: 10px;
	line-height: 1.5;
	color: #202428;
	font-family: helvetica, arial, sans-serif;
	background: #EEEFF0;
}

/* ---------- Template ---------- */

input.ok {
	padding: 0.5em;
	border: 1px solid #DCDDDE;
	background: -webkit-gradient(linear,left top,left bottom,from(#FFDB50),to(#FFBC19));
	background: -moz-linear-gradient(top,#FFDB50,#FFBC19);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDB50FF, endColorstr=#FFBC19FF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFDB50FF, endColorstr=#FFBC19FF)";
}

input.ng {
	padding: 0.5em;
	border: 1px solid #DCDDDE;
	background: -webkit-gradient(linear,left top,left bottom,from(#F2F2F2),to(#E5E5E5));
	background: -moz-linear-gradient(top,#F2F2F2,#E5E5E5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2F2F2FF, endColorstr=#E5E5E5FF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2F2F2FF, endColorstr=#E5E5E5FF)";
}

/* ---------- Navigation ---------- */

#header {
	background: #778899;
}

#header header {
	padding: 1em 5em;
}

#header header hgroup {
	line-height: 1.2;
	color: #EEEFF0;
}

#header header hgroup h1 {
	font-weight: bold;
	font-size: 2.2em;
}

#header header hgroup h1 a:hover {
	color: #FDFEFF;
}

#header header hgroup h2 {
	padding: 0.4em 0.1em;
	font-size: 1em;
}

#header header #console {
	line-height: 4em;
	color: #EEEFF0;
}

#header header #console a {
	text-decoration: underline;
}

#header header #console a:hover {
	text-decoration: none;
	cursor: pointer;
}

/* ---------- Content ---------- */

#content {}

/* ---------- Content.Article ---------- */

#content #article {}

#content #article article {
	padding: 2em 2em 2em 5em;
}

#content #article article #section,
#content #article article #action {
	background: #FDFEFF;
	border:1px solid #DCDDDE;
}

#content #article article #action {
	border-top: none;
	color: #868788;
	text-align:right;
}

#content #article article #action a {
	margin-left: 0.5em;
	padding: 0.1em;
	color: #202428;
	background: #EEEFF0;
	text-decoration: underline;
}

#content #article article #action a:hover {
	text-decoration: none;
	cursor: pointer;
}

#content footer{
	color: #868788;
	text-align:center;
}

/* ---------- Content.Sidebar ---------- */

#content #nav .nav {
	margin: 0;
	background: #E5E5E5;
	border: 1px solid #CCC;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: bold;
}

#content #nav a.nav {
	cursor: pointer;
}

#content #nav ul {
	margin: 0;
	padding: 1em 0;
}

#content #nav ul li {
	margin-left: 1em;
	list-style: none;
}
