/* ---------- MesageBox ---------- */

#content #message {
	display: table;
	width: 48em;
	height: 12em;
	background: #FDFEFF;
	border:1px solid #DCDDDE;
	font-size: 1.2em;
}

#content #innermessage {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#content #message h1 {
	font-size: 2.0em;
}

/* ---------- SettingBox ---------- */

#content #setting {
	display: table;
	width: 48em;
	height: 24em;
	background: #FDFEFF;
	border:1px solid #DCDDDE;
	overflow:hidden;
	font-size: 1.2em;
}

#content #setting #innersetting {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#content #setting #innersetting .smaster {
	margin: 0 20%;
	width: 60%;
	clear: both;
}

#content #setting #innersetting .skey,
#content #setting #innersetting .sval {
	float: left;
	height: 2em;
	text-align: left;
}

#content #setting #innersetting .skey {
	width: 20%;
	line-height: 2em;
	font-weight: bold;
}

#content #setting #innersetting .sval {
	width: 80%;
}

#content #setting #innersetting .sval input {
	margin: 0.3em;
	padding: 0.2em;
	width: 100%;
	font-size: 0.8em;
	border: 1px solid #CCC;
}
